<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

    <link rel="stylesheet" href="/style.css">
    <title>Fake Instagram</title>
</head>

<body>
    <header class="container-1">
        <div class="logging">
            <h1><a href="/">Fake Instagram</a></h1>
            <div class="logging-menu">
                <nav>
                    <% if(user) { %>
                    <p>Welcome <%= user.username %></p>
                    <a href="/new">Post</a>
                    <a href="/users/logout">Log out</a>
                    <% } else { %>
                    <a href="/users/login">Log in</a>
                    <a href="/users/signup">Sign up</a>
                    <% } %>
                </nav>
            </div>
        </div>
    </header>
    <main class="container-1">
        <% for (let i = 0; i < postings.length; i++) { %>
        <div class="container-item">
            <a href="/<%= postings[i]._id %>"><img src="<%= postings[i].img %>" style="width: 40%;"></a>
        </div>
        <% } %>
    </main>
</body>

</html>