<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Fake Instagram</title>
</head>

<body>
    <header>
        <h1 style="display: inline;"><a href="/">Fake Instagram</a></h1>
        <nav style="display: inline;">
            <% if(user) { %>
            <p>Welcome <%=user.username%></p>
            <a href="/users/logout">Log out</a>
            <% } else { %>
            <a href="/users/login">Log in</a>
            <a href="/users/signup">Sign up</a>
            <% } %>
        </nav>
    </header>
    <main>
        <h2>Post</h2>
        <form action="/" method="POST">
            <input type="text" name="img" placeholder="enter your img" required><br />
            <textarea name="text" cols="30" rows="10" placeholder="enter the description"></textarea><br />
            <input type="submit" value="Post new image">
        </form>
    </main>
</body>

</html>